*,
::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body,
h1,
h2,
p {
  margin: 0;
}

body {
  font-family: system-ui;
}

.main {
  width: 95%;
  min-height: 100svh;
  max-width: 50em;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  text-wrap: balance;
  color: hsl(0, 0%, 50%);
}

h1 {
  margin-bottom: 1em;
}

h2 {
  margin-bottom: 1.2em;
}

p {
  color: hsl(0, 0%, 33%);
  text-wrap: pretty;
  font-size: 1.2em;
}

p strong {
  color: hsl(0, 100%, 0%);
}

a {
  color: hsl(120, 40%, 50%);
}

p:first-of-type {
  color: hsl(0, 90%,50%);
}

p:not(:last-of-type) {
  margin-bottom: 1em;
}
